<section class="about-section" fxLayout="column" fxLayoutAlign="center center">
  <h2>About Me</h2>
  <p>
    As a software developer at Upodi, I create and maintain scalable and reliable web applications that serve thousands of customers worldwide. 
    Upodi is a cloud-based subscription management platform that helps businesses automate and optimize their recurring revenue streams. 
    I use C#, TypeScript, and REST API to deliver high-quality features and enhancements that meet the user needs and business goals.
  </p>
  <br>
  <p>
    I graduated from Erhvervsakademi SydVest in June 2021 with a bachelor's degree in computer science, 
    where I learned the fundamentals of programming, data structures, algorithms, databases, and software engineering. 
    I also gained valuable hands-on experience from two internships at the LEGO Group and Virtual Lab ApS, where I developed full-stack solutions for mobile devices using Unity, C#, and .Net. 
    I am passionate about learning new technologies and solving challenging problems that make a positive impact.
  </p>
</section>
