<div class="home-banner" fxLayout="column" fxLayoutAlign="center center">
  <h1 class="mat-display-2 no-margin">Welcome to My Portfolio
    <button mat-icon-button [mat-menu-trigger-for]="themeMenu">
      <mat-icon>{{ themeService.selectedTheme()?.icon }}</mat-icon>
    </button>
    <mat-menu #themeMenu="matMenu">
      @for (theme of themeService.getThemes(); track theme.name) {
        <button
          [class.selected-theme]="themeService.selectedTheme()?.name === theme.name"
          mat-menu-item
          (click)="themeService.setTheme(theme.name)"
        >
          <mat-icon>{{ theme.icon }}</mat-icon>
          <span>{{ theme.name | titlecase }}</span>
        </button>
      }
    </mat-menu>
  </h1>
  <p class="mat-display-1 mt-small">Hi, I'm Kristófer Andersen 👋🏻</p>
</div>
