.home-banner {
    min-height: 15vh;
    background-color: #f7fafc; // This is equivalent to a light gray background.
    // Optionally, add padding or other layout adjustments here.
  }
  
  .no-margin {
    margin: 0;
  }
  
  .mt-small {
    margin-top: 1rem;
  }
  